body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0ebe8;
}

td {
  padding: 15px;
}

hr {
  border-color: #5ebae7;
  border-style: dotted none none;  
  border-width: 10px;
  width: 5%;
  margin-left: 5%;
}

